body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

*{
  font-family: Cantarell;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-contacts-auto-fill-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}


/* user-css */
.box-design {
 
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

}
.selectedCss_Wallet{
  background-color: #89d8a887;
  color: #7f80b6;
}

.h-80vh{
  height: 80vh;
}
.h-90vh{
  height: 90vh;
}

.head-style-h1{
  font-size: 20px;
  font-weight: bolder;
  font-style: revert;
  margin: 10px;
}
.Z-index-top{
  z-index: 100000;
}

.headtitle {
  font-family: Cantarell;
  font-weight: 1000;
  font-size: 35px;
}
.font-Oxy{
  font-family: Oxygen;
}

.font-can{
  font-family: Cantarell;
}
.errormessagebox{
  height: 5px;
  color:#a24141;
  margin-bottom: 10px;    
  text-align: center;
  
}
  
a.active {
  color: gray; /* Active link color */
}

a {
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
}